name: hsamiplus-dev
channels:
  - conda-forge
dependencies:
  - python >=3.10,<3.14
  - numpy >=1.23
  - typer >=0.12.3
  # Dev tools and testing
  - pip >=25.2
  - bump-my-version >=1.2.3
  - coverage >=7.5.0
  - deptry >=0.23.1
  - flake8 >=7.3.0
  - flake8-rst-docstrings >=0.3.1
  - flit >=3.11.0,<4.0
  - ipykernel
  - ipython >=8.5.0
  - mypy >=1.18.2
  - numpydoc >=1.9.0
  - pandas >=2.2.0
  - pre-commit >=3.5.0
  - pytest >=8.3.2
  - pytest-cov >=5.0.0
  - ruff >=0.13.3
  - scipy >=1.10.0
  - tox >=4.30.3
  - typer >=0.16.0
  - vulture >=2.14
  - watchdog >=4.0.0
